.NoteCard {
    background: rgb(212,212,212);
    background: radial-gradient(circle, rgb(240, 240, 240) 0%, rgb(240, 240, 240) 100%); 
    border: 1px solid  white;
    transition: all 0.5s all;
    padding: 1rem;
}



.NoteCard:hover {
    /* background: rgb(212,212,212); */
    /* background: radial-gradient(circle, rgb(27, 27, 27) 0%,  rgb(36, 36, 36) 100%);  */
    /* color: white; */
    border: 2px grey solid;

}