@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.NoteCard > * {
    font-family: "Red Hat Display", sans-serif;
}

.NoteCard {
    font-family: "Red Hat Display", sans-serif;
}

.NoteCard h1 , .NoteCard h2, .NoteCard h3 , .NoteCard h4, .NoteCard h5, .NoteCard h6, .NoteCard p, .NoteCard a, .NoteCard blockquote, .NoteCard pre, .NoteCard ul, .NoteCard ol, .NoteCard li, .NoteCard table {
    font-family: "Red Hat Display", sans-serif;
}
