/* Define the gradient background and animation */
.add-dot-grid {
    background-color: #a4a580;
    background-image: radial-gradient(circle, rgb(115, 115, 115) 1px, #ececec 1px);
    background-size: 2.5rem 2.5rem;
    background-position: center center;
    position: sticky;
    
}

.bg-sage {
  background-color: #C9CBA3;
}
.bg-peach-yellow{
  background-color: #FFE1A8;
}

.bg-bittersweet {
  background-color: #E26D5C;
}

.bg-wine {
  background-color: #723D46;
}

/* Modal overlay style */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.2) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content style */
.modal-content {
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  background: white;
  border-radius: 8px;
  padding: 20px;
}

@media (min-width: 1024px) {
  .modal-content {
    width: 70%;
  }
}


