/* Define the gradient background and animation */
.add-dot-grid {
    background-color: #a4a580;
    background-image: radial-gradient(circle, rgb(115, 115, 115) 1px, #ececec 1px);
    background-size: 2.5rem 2.5rem;
    background-position: center center;
    position: sticky;
    
}

.bg-sage {
  background-color: #C9CBA3;
}
.bg-peach-yellow{
  background-color: #FFE1A8;
}

.bg-bittersweet {
  background-color: #E26D5C;
}

.bg-wine {
  background-color: #723D46;
}

