@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-family: "Inter", sans-serif;
  }

  body{
    background: rgb(243, 243, 243);
    overflow-x: hidden;
  }
  .input-box{
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
  }

  .btn-primary{
    @apply w-full text-sm bg-primary text-white p-2 rounded my-1 hover:bg-blue-600;
  }

  .icon-btn{
    @apply text-3xl text-slate-300 cursor-pointer hover:text-primary bg-slate-50 rounded-full p-1;
  }
  .ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
  }

  
}

/* styles/globals.css */
.markdown-css {
  line-height: 1.6;
  color: #333;
}

.markdown-css h1 {
  font-size: 2em;
  margin-top: 0;
}

.markdown-css h2 {
  font-size: 1.5em;
  margin-top: 0;
}

.markdown-css h3 {
  font-size: 1.25em;
  margin-top: 0;
}

.markdown-css p {
  margin-bottom: 1em;
}

.markdown-css ul,
.markdown-css ol {
  margin: 0 0 1em 2em;
}

.markdown-css a {
  color: #3B82F6;
  text-decoration: underline;
}

.markdown-css blockquote {
  border-left: 4px solid #d1d5db;
  padding-left: 1em;
  margin: 1em 0;
  color: #6b7280;
}

.markdown-css code {
  background-color: #f3f4f6;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

.markdown-css pre {
  background-color: #f3f4f6;
  padding: 1em;
  border-radius: 0.2em;
  overflow-x: auto;
}



